
.DS_Store
.Trashes
build/
DerivedData/
xcuserdata/
*.moved-aside
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.swp
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
profile